.navbar {
    background: #272733;
    border-bottom: solid 1px;
    border-color: #6d6c81;
    height:20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #adabcc;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #adabcc;
    background-color: #39394b;
}

.navbar-inverse .navbar-nav > .open > a:focus {
    color: #696988;    
}

.page-header {
    border-color: #6d6c81;
}

body{
    padding-top: 30px;
    background-color: #000000;
    background-image: url("/images/storm-1055.jpg");
    background-repeat: no-repeat;
    background-position: right;
    color:white;
    opacity: 0.9;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-hover:hover {
    border: solid 1px;
    border-color: blanchedalmond;
}

footer {
    margin:50px 0px;
    border-color: #6d6c81;
}

.portfolio-item-large {    
    padding: 15px;    
}

.other-things {
    float:right;
    margin-top: -10px;
    margin-bottom: 30px;
}

hr {
    border-color: #6d6c81;
}

.title {
    font-family: arial;
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 65px;
    margin-top: -32px;
    padding-right: 50px;
    color:#6d6c81;
}

.main-container {
    width:70%;
    margin-left:10%;
}

.btn-primary {
    color:#39394b;
    background:white;
}

.btn-primary:hover, .btn-primary:focus {
    color:aliceblue;
    background:#39394b;
    border-color:#39394b;
}

@media (max-width: @screen-xs) {
    body{font-size: 8px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 10px;}
}

.h1 {
    font-szie: 1.6em
}

.h2 {
    font-szie: 1.4em
}

.h3 {
    font-szie: 1.2em
}

.h4 {
    font-szie: 1em
}

.text {
    display: none;
    overflow-y: scroll;
    height:200px;
    width: 95%;
    margin-right:5%;
    position: absolute;
    bottom: 14px;
    padding: 10px;
    padding-top: 0px;    
    color: black;
    background: #ffffff;
    z-index: 1;  
}

.row {
    padding-top:15px;
}
